/* reset */
* {
	margin: 0; padding: 0; box-sizing: border-box;
}

body { font: 13px "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; }

.nickname
{
	color: black;
	padding: 3px;
	position: fixed;
	bottom: 40px;
	margin: 5px 0 0 0;
	border: 2px black solid;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

form {
	background: #000;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;

	input { border: 0; padding: 10px; width: 85%; margin-right: 0.5%; font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; }
	button { width: 9%; background: rgb(130, 224,255); border: none; padding: 10px; font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; }
}

.colour
{
	width: 4%;
	background-color: white;
	color: black;
	border: none;
	padding: 10px;
	cursor: pointer;
}

.uColours
{
	color: black;
}

#messages {
	list-style-type: none; margin: 0; padding: 0;

	li { padding: 5px 10px;	}
	li:nth-child(odd) { background: #eee; }
}
