<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
</head>
<body>
  <h1>This is chat app</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum eos necessitatibus iste maxime quidem tenetur minima illum, nesciunt ut unde cupiditate veniam enim sunt rerum animi consectetur nisi sequi repellat!
  </p>
  <footer>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </footer>
</body>
</html>
